{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": true,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/app/routes/(.*)$",
    "^@/processes/(.*)$",
    "^@/pages/(.*)$",
    "^@/widgets/(.*)$",
    "^@/features/(.*)$",
    "^@/entities/(.*)$",
    "^@/shared/ui/(.*)$",
    "^@/shared/api/(.*)$",
    "^@/shared/types/(.*)$",
    "^@/shared/hooks/(.*)$",
    "^@/shared/helpers/(.*)$",
    "^@/shared/storage/(.*)$",
    "^@/shared/constants/(.*)$",
    "^../(.*)",
    "^./(.*)",
    "^@/app/styles/(.*)$",
    "(.scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
