.header {
	.container {
		padding-right: 80px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
		@media (max-width: 1024px) {
			padding-left: 40px;
			padding-right: 30px;
		}
		@media (max-width: 425px) {
			padding-inline: 25px;
		}
	}
	background-color: var(--dark-blue);
	padding-block: 17px;
}
